*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100px;
}
.navbar-style
{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}
.logo
{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar
{
    background: darkorange;
}
li a{
    color: #333;
}
.big-text
{
    font-size: 52px;
    margin: 20px 0;
    color: darkorange;
}
a.btn
{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first
{
    background-color: darkorange;
    color: #fff;
}
a.btn-second
{
    background: transparent;
    border: 1px solid darkorange;
    color: #333;
}
a.btn:hover
{
    background: darkorange;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
.banner-info, .banner-image
{
    margin: 30px 0;
}
.contact-page
{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(p.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.contact-title
{
    margin-top: 100px;
    color: #fff;
    /* text-transform: uppercase; */
    transition: all 4s ease-in-out;
}
.contact-title h1
{
    font-size: 25px;
    line-height: 10px;
}
.contact-title h2
{
    font-size: 16px;
}
form
{
    margin-top: 100px;
    transition: all 4s ease-in-out;
}
.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
input
{
    /* height: 45px; */
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}
form .submit
{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form .submit:hover
{
    background-color: #f44336;
    cursor: pointer;
}


/* Predict form */
.popup
{
    background: rgba(0, 0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-content
{
    height: 500px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.close
{
    position: absolute;
    top: -15;
    right: 15px;  
    /* background: #fff; */
    /* height: 10px; */
    width: 50Spx;
    border-radius: 70%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
a.btn-third
{
    background: #fff;
    padding: 10px 15px;
    border: 1px solid darkorange;
    color: #333;
}
.input-pred
{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}







#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modal__window {
    position: relative;
    background-color: white;
    padding: 4em 2em;
    
    max-height: 0vh;
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: 1px;
    left: -1px;
    width: 25px;
    border-radius: 10%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  }
#modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}



